* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
body {
    background: linear-gradient(1000deg,#8754ff,#8E2DE2);
    background-size: cover;
    overflow: hidden;
  }
.header{
  background-color: #333;
    height: 105px;
  }
.mid{
    position: relative;
    top: 35px;
    text-align: center;
    border: none;
    color: white;
    transition: background-color 2s;
  }
.navbar li{
    display: inline;
    font-size: 25px;
}
.navbar li a:hover{
text-decoration: none;
color: grey;
}
.navbar li a{
    color: white;
    text-decoration: none;
    /* padding: 25px; */
}
a:-webkit-any-link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.left{
    position: absolute ;
    left: 30px;
    top: 36px;
    text-align: end;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-family: fantasy;
    transition: background-color 0.5s;
}
/* .left img{
    display: flex;
    width: 50px;
} */
.right{
  position: relative;
  right: -1200px;
  top: -5px;
}
.button:hover{
  background-color: #ffffff;
  color: #333;
}
.button {
  text-align: center;
  position: relative;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  transition: background-color 0.5s;
}
.right:hover{
    color: grey;
}
#display-container {
    background-color: #ffffff;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
  }
  .headeer {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
  }
  .timer-div {
    background-color: #e1f5fe;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
  }
  #Next-button {
    font-size: 1em;
    margin-top: -1.3em;
    background-color: #8754ff;
    color: #ffffff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }
  #Next-button:hover{
    color: #8E2DE2;
  }
  .footer{
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 9px;
    position: fixed;
    bottom: -219px;
    left: -450px;
    width: 1500px;
  }