* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  /* background:#8754ff; */
  background: linear-gradient(1000deg, #8754ff, #8E2DE2);
  background-size: cover;
  overflow: hidden;
}

.header {
  background-color: #333;
  height: 105px;
}

.mid {
  position: relative;
  top: 35px;
  text-align: center;
  border: none;
  color: white;
  transition: background-color 2s;
}

.navbar li {
  display: inline;
  font-size: 25px;
}

.navbar li a:hover {
  text-decoration: none;
  color: grey;
}

.navbar li a {
  color: white;
  text-decoration: none;
  /* padding: 25px; */
}

a:-webkit-any-link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.left {
  position: absolute;
  left: 30px;
  top: 36px;
  text-align: end;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: fantasy;
  transition: background-color 0.5s;
}

/* .left img{
    display: flex;
    width: 50px;
} */
.right {
  position: relative;
  right: -1200px;
  top: -5px;
}

.button:hover {
  background-color: #ffffff;
  color: #333;
}

.button {
  text-align: center;
  position: relative;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  transition: background-color 0.5s;
}

.right:hover {
  /* text-decoration: underline; */
  color: grey;
}

/* #display-container {
    background-color: #ffffff;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
  }
  .headeer {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
  }
  .timer-div {
    background-color: #e1f5fe;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
  } */
.main {
  position: relative;
  top: 28px;
  text-align: center;
  color: #fff;
  font-size: 72px;
  letter-spacing: 1px;
}

.main1 {
  position: relative;
  top: 32px;
  text-align: center;
  color: #fff;
  font-size: large;
  line-height: 1.5em;
}

.main2 {
  letter-spacing: 0.6px;
}

.main3 {
  margin: 1.5% 50% 10% 40%;
  border: 2px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 300px;
  right: inherit;
  border-radius: 8px;
}

.button1 {
  text-align: center;
  position: relative;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  transition: background-color 0.5s;
}

.button1:hover {
  background-color: #ffffff;
  color: #333;
}

a:-webkit-any-link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%
}