/* .teacher{
    color: #fff;
    font-size: 110px;
    position: relative;    
    left: 8%;
    top: 70px;
} */
.container{
    position: absolute;
    left: 20%;
    top: 200px;
    /* padding: 60px 250px 85px 65px; */
    text-align: left;
    color: #fff;
    border: 3px solid #fff;
    /* border-left:6px solid #fff; */
}
.name{
    color: #fff;
    font-size: 50px;
    position: relative;    
    /* left: 12%;
    top: 100px; */
}
.number{
    color: #fff;
    font-size: 50px;
    position: relative;    
    /* left: 12%;
    top: 120px; */
}
.email{
    color: #fff;
    font-size: 50px;
    position: relative;    
    /* left: 12%;
    top: 140px; */
}
